* {
    margin: 0;
    padding: 0;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("wp2301700-anime-4k-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.a {
    color: #23232e;
    text-decoration: none;
}

.a button{
    position: relative;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #fff;
    color: #23232e;
    font-size: 18px;
}

.a button:first-child:hover{
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    transition: 0.3s;
}

.a button:first-child:before{
    content:'';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.3s;
}

.a button:first-child:hover:before{
    opacity: 1;
    z-index: -1;
}

.a button:hover{
    z-index: 1;
    animation: glow 10s linear infinite;
}

@keyframes glow {
    0%{
        background-position: 0%;
    }
    25%{
        background-position: 100%;
    }
    50%{
        background-position: 200%;
    }
    75%{
        background-position: 300%;
    }
    100%{
        background-position: 400%;
    }
}

#logo {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    25%{
        background-position: 100%;
    }
    50%{
        background-position: 200%;
    }
    75%{
        background-position: 300%;
    }
    100%{
        background-position: 400%;
    }
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, 
    -apple-system, Helvetica, Arial, sans-serif;
    background: #fff ;
    height: 8vh;
    width: 100vw;
    z-index: 4;
}

.nav-list {
    z-index: 3;
    list-style: none;
    display: flex;
}

.nav-list li{
    font-size: 18px;
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu{
    display: none;
    cursor: pointer;
}

.menu div{
    width: 32px;
    height: 2px;
    background: #23232e;
    margin: 8px;
    transition: 0.3s;
}

@media screen and (max-width: 2000px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 1;
    }
    .menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

.menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2{
    opacity: 0;
}

.menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

main{
    height: 92vh;
}

.containeranimes{
    max-width: 1370px;
    position: relative;
    top: 140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.navegation2{ 
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    height: 0.1px;
}

.arrow-left{
    width: 30px;
    height: 60px;
    font-size: 20px;
    border: 2px solid #23232e;
    margin: 690px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-right{
    width: 30px;
    height: 60px;
    font-size: 20px;
    border: 2px solid #23232e;
    margin: 690px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-left:hover{
    background-color: #23232e;
    color: #fff;
}

.arrow-right:hover{
    background-color: #23232e;
    color: #fff;
}

.wrapperanimes{
    overflow-x: auto;
    height: 250px;
}

.wrapperanimes::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

.wrapperanimes::-webkit-scrollbar-track{
    background-color: #666;
    border-radius: 50px;
}

.wrapperanimes::-webkit-scrollbar-thumb{
    background-color: #23232e;
    border-radius: 50px;
}

.animesofanimes{
    display: flex;
    flex-flow: row nowrap;
}

.item{
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 40px;
}

.containeranimes2{
    max-width: 1370px;
    position: relative;
    top: 200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.navegation3{ 
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    bottom: 20px;
    left: 50%;
    top: 50%;
    height: 0.1px;
    transform: translate(-50%);
}

.arrowleft{
    width: 30px;
    height: 60px;
    font-size: 20px;
    border: 2px solid #23232e;
    margin: 690px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.arrowright{
    width: 30px;
    height: 60px;
    font-size: 20px;
    border: 2px solid #23232e;
    margin: 690px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.arrowleft:hover{
    background-color: #23232e;
    color: #fff;
}

.arrowright:hover{
    background-color: #23232e;
    color: #fff;
}

.wrapperanimes2{
    overflow-x: auto;
    height: 250px;
}

.wrapperanimes2::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

.wrapperanimes2::-webkit-scrollbar-track{
    background-color: #666;
    border-radius: 50px;
}

.wrapperanimes2::-webkit-scrollbar-thumb{
    background-color: #23232e;
    border-radius: 50px;
}

.animesofanimes2{
    display: flex;
    flex-flow: row nowrap;
}

.itemitem{
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 40px;
}

@media screen and (max-width: 1367px) {

    body{
        width: 100vw;
        height: 100vh;
    }

    main{
        height: 92vh;
    }

    .a button{
        position: relative;
        height: 40px;
        width: 170px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: #fff;
        color: #23232e;
        font-size: 18px;
    }

    .containeranimes{
        max-width: 1250px;
        position: relative;
        top: 140px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .navegation2{ 
        display: flex;
        position:absolute;
        align-items: center;
        text-align: center;
        bottom: 20px;
        left: 50%;
        top: 50%;
        height: 0.1px;
        transform: translate(-50%);
    }

    .arrow-left{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .arrow-right{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .containeranimes2{
        max-width: 1250px;
        position: relative;
        top: 200px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .navegation3{ 
        display: flex;
        position:absolute;
        align-items: center;
        text-align: center;
        bottom: 20px;
        left: 50%;
        top: 50%;
        height: 0.1px;
        transform: translate(-50%);
    }

    .arrowleft{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .arrowright{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1360px) {

    body{
        width: 100vw;
        height: 100vh;
    }

    main{
        height: 92vh;
    }

    .a button{
        position: relative;
        height: 40px;
        width: 170px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: #fff;
        color: #23232e;
        font-size: 18px;
    }

    .containeranimes{
        max-width: 1250px;
        position: relative;
        top: 140px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .navegation2{ 
        display: flex;
        position:absolute;
        align-items: center;
        text-align: center;
        bottom: 20px;
        left: 50%;
        top: 50%;
        height: 0.1px;
        transform: translate(-50%);
    }

    .arrow-left{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .arrow-right{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .containeranimes2{
        max-width: 1250px;
        position: relative;
        top: 200px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .navegation3{ 
        display: flex;
        position:absolute;
        align-items: center;
        text-align: center;
        bottom: 20px;
        left: 50%;
        top: 50%;
        height: 0.1px;
        transform: translate(-50%);
    }

    .arrowleft{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .arrowright{
        width: 30px;
        height: 60px;
        margin: 630px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {

    body{
        width: 100vw;
        height: 100vh;
    }

    main{
        height: 92vh;
    }

    .a button{
        position: relative;
        height: 40px;
        width: 170px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: #fff;
        color: #23232e;
        font-size: 18px;
    }

    .navegation2{ 
        display: flex;
        position:absolute;
        align-items: center;
        text-align: center;
        bottom: 20px;
        left: 50%;
        top: 50%;
        height: 0.1px;
        transform: translate(-50%);
    }

    .arrow-left{
        width: 30px;
        height: 60px;
        margin: 150px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
        visibility: hidden;
    }
    
    .arrow-right{
        width: 30px;
        height: 60px;
        margin: 150px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
        visibility: hidden;
    }

    .wrapperanimes::-webkit-scrollbar{
        width: 7px;
        height: 4px;
    }
    
    .wrapperanimes::-webkit-scrollbar-track{
        background-color: #666;
        border-radius: 50px;
    }
    
    .wrapperanimes::-webkit-scrollbar-thumb{
        background-color: #23232e;
        border-radius: 50px;
    }

    .navegation3{ 
        display: flex;
        position:absolute;
        align-items: center;
        text-align: center;
        bottom: 20px;
        left: 50%;
        top: 50%;
        height: 0.1px;
        transform: translate(-50%);
    }

    .arrowleft{
        width: 30px;
        height: 60px;
        margin: 150px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
        visibility: hidden;
    }
    
    .arrowright{
        width: 30px;
        height: 60px;
        margin: 150px;
        font-size: 20px;
        border: 2px solid #23232e;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        text-align: center;
        visibility: hidden;
    }

    .wrapperanimes2::-webkit-scrollbar{
        width: 7px;
        height: 4px;
    }
    
    .wrapperanimes2::-webkit-scrollbar-track{
        background-color: #666;
        border-radius: 50px;
    }
    
    .wrapperanimes2::-webkit-scrollbar-thumb{
        background-color: #23232e;
        border-radius: 50px;
    }
}

.item {
    min-width: 300px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    flex: 0 0 calc(25% -20px);
    transform-origin: center bottom;
}

.item:hover {
  scale: 1.01;
  transition: 0.5s ease;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
  
  .animeinfo {
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  .animeinfo h2 {
    padding-top: 15px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .animeinfo p {
    margin: 0;
    max-width: 280px;
    font-size: 12px;
    text-align: justify;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 3%;
  }

  .item:hover .animeinfo{
    transition: 0.5s ease;
    opacity: 1;
  }

  .itemitem {
    min-width: 300px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    flex: 0 0 calc(25% -20px);
    transform-origin: center bottom;
}

.itemitem:hover {
  scale: 1.01;
  transition: 0.5s ease;
}

.itemitem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
  
  .animeinfo {
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  .animeinfo h2 {
    padding-top: 15px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .animeinfo p {
    margin: 0;
    max-width: 280px;
    font-size: 12px;
    text-align: justify;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 3%;
  }

  .itemitem:hover .animeinfo{
    transition: 0.5s ease;
    opacity: 1;
  }

  .button-assistir {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    position: absolute;
    animation: glow 7s linear infinite;
    color: #fff;
    display: flex;
    border: none;
    border-radius: 25px;
    padding: 7px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button-assistir:hover {
    scale: 1.05;
    transition: 0.5s ease;
  }

  .player {
    z-index: 2;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    left: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }    
  
  .wrapper-player {
    background-color: whitesmoke;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }    
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
  .track-art {
  margin: 25px;
  height: 150px;
  width: 150px;
  border:2px solid 	#FFFAFA;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
  }
  
  .now-playing {
  font-size: 1rem;
  }
  
  .track-name {
  font-size: 30px;
  }
  
  .track-artist {
  margin-top: 5px;
  font-size: 20px;
  }
  
  .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  }
  .active{
      color: black;
  }
  
  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
  color: darkblue;
  }
  
  .repeat-track:hover,
  .random-track:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  color: #000000;
  }
  
  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(90deg, #ffff00, #ff00f3, #0033ff, #ff00c4);
  background-size: 400%;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #000;
  cursor: grab;
  border-radius: 100%;
  }
  
  .seek_slider:hover,
  .volume_slider:hover {
  opacity: 1.0;
  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 30%;
  }
  
  .current-time,
  .total-duration {
  padding: 10px;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 10px;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }
  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .stroke{
      background: #f1f1f1;
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: animated 1.4s linear infinite;
  }
    @keyframes animated {
      30% {
        height: 25%;
        background: rgb(0, 0, 255);
      }

      60%{
        background: rgb(0, 255, 0);
        height: 50%;
      }
  
      90% {
        background:rgb(255, 255, 0);
        height: 75%;
      }
      100% {
        background:#ffffff;
        height: 100%;
      }
    }
    .stroke:nth-child(1){
        animation-delay: 0s;
    }
    .stroke:nth-child(2){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(3){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(4){
      animation-delay: 0.9s;
  }
  .stroke:nth-child(5){
      animation-delay: 0.6s;
  }
  .stroke:nth-child(6){
      animation-delay: 0.3s;
  }
  .stroke:nth-child(7){
      animation-delay: 0s;
  }    
  
  .music-icon {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .music-icon:hover {
    background-color: #f1f1f1;
  }  

  @media (max-width: 800px){
    .player {
        z-index: 2;
        position: fixed;
        bottom: 0;
        margin-bottom: 10px;
        left: 21%;
        transform: translateX(-25%);
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 300px; /* Define a largura fixa */
      }       
    
        .wrapper-player {
          height: 400px;
          width: 300px;
          background-color: whitesmoke;
          border: 1px solid transparent;
          padding: 30px;
          border-radius: 30px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }    
        
        .details {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        }
        
        .track-art {
        margin: 20px;
        height: 100px;
        width: 100px;
        border:2px solid 	#FFFAFA;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        -moz-box-shadow: 0px 6px 5px black;
        -webkit-box-shadow: 0px 6px 5px black;
        box-shadow: 0px 6px 5px black;
        -moz-border-radius:190px;
        -webkit-border-radius:190px;
        border-radius:190px;
        }
        
        .now-playing {
        font-size: 0.8rem;
        }
        
        .track-name {
        font-size: 20px;
        }
        
        .track-artist {
        margin-top: 5px;
        font-size: 15px;
        }
        
        .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        margin-bottom: 0px;
        }
        .active{
            color: black;
        }
        
        .repeat-track,
        .random-track,
        .playpause-track,
        .prev-track,
        .next-track {
        padding: 25px;
        opacity: 0.8;
        transition: opacity .2s;
        color: darkblue;
        }
        
        .repeat-track:hover,
        .random-track:hover,
        .playpause-track:hover,
        .prev-track:hover,
        .next-track:hover {
        opacity: 1.0;
        color: #000000;
        }
        
        .slider_container {
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
        .seek_slider, .volume_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 3px;
        background: linear-gradient(90deg, #ffff00, #ff00f3, #0033ff, #ff00c4);
        background-size: 400%;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }
        
        .seek_slider::-webkit-slider-thumb,
        .volume_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        background: white;
        border: 3px solid #000;
        cursor: grab;
        border-radius: 100%;
        }
        
        .seek_slider:hover,
        .volume_slider:hover {
        opacity: 1.0;
        }
        
        .seek_slider {
        width: 60%;
        }
        
        .volume_slider {
        width: 30%;
        }
        
        .current-time,
        .total-duration {
        padding: 10px;
        }
        
        i.fa-volume-down,
        i.fa-volume-up {
        padding: 10px;
        }
        
        i,
        i.fa-play-circle,
        i.fa-pause-circle,
        i.fa-step-forward,
        i.fa-step-backward,
        p {
        cursor: pointer;
        }
        .randomActive{
            color: black;
        }
        .rotate {
            animation: rotation 8s infinite linear;
        }
        @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
        }
        .loader {
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .loader .stroke{
            background: #f1f1f1;
            height: 120%;
            width: 5px;
            border-radius: 50px;
            margin: 0 5px;
            animation: animated 1.4s linear infinite;
        }
          @keyframes animated {
            30% {
              height: 25%;
              background: rgb(0, 0, 255);
            }
    
            60%{
              background: rgb(0, 255, 0);
              height: 50%;
            }
        
            90% {
              background:rgb(255, 255, 0);
              height: 75%;
            }
            100% {
              background:#ffffff;
              height: 100%;
            }
          }
          .stroke:nth-child(1){
              animation-delay: 0s;
          }
          .stroke:nth-child(2){
            animation-delay: 0.3s;
        }
        .stroke:nth-child(3){
            animation-delay: 0.6s;
        }
        .stroke:nth-child(4){
            animation-delay: 0.9s;
        }
        .stroke:nth-child(5){
            animation-delay: 0.6s;
        }
        .stroke:nth-child(6){
            animation-delay: 0.3s;
        }
        .stroke:nth-child(7){
            animation-delay: 0s;
        }   
        
        .music-icon {
          position: fixed;
          top: 85px;
          z-index: 2;
          left: 20px;
          width: 40px;
          height: 40px;
          background-color: #ffffff;
          border: none;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          color: #000000;
          cursor: pointer;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          transition: background-color 0.3s ease;
          visibility: hidden;
        }
        
        .music-icon:hover {
          background-color: #f1f1f1;
        }  
  }
